* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --main-radius: 5px;
}
.wrapper {
    
}
.header-banner {
    position: relative;
    height: 100px;
    width: 1200px;
    background-color: red;
    margin: 10px auto;
    border-radius: var(--main-radius);
}
.header-banner-hero {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--main-radius);
    z-index: -1;
}
.header-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    color:  white;
}
/* .header-banner-text .btn-end {
    position: absolute;
    top: 50%;
    left: 50%; */
/* } */
.tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}
.tasks input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: var(--main-radius);
    height: 30px;
    width: 900px;
    
}
.tasks button {
    display: inline-block;
    margin: 10px auto;
    height: 30px;
    padding: 5px;
    border: 2px solid black;
    border-radius: var(--main-radius);
}
.tasks-array {
    height: auto;
    width: 1200px;
    border: 2px solid black;
    margin: 0 auto;
    padding: 5px;
    background-color: lightgray;
    border-radius: var(--main-radius);
}
.tasks-array-list-element {
    list-style: none;
    padding: 10px;
    font-size: 15px;
    background-color: slategrey;
    border-bottom: 2px dotted black;
    border-radius: var(--main-radius);
}
.tasks-array-list-element .done{
    padding: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.tasks-array-list-element .fa-solid {
    margin-left: 10px;
}
main .buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px auto;
    
}
main .main-button {
    padding: 15px;
    letter-spacing: 2px;
    font-size: 1rem;
    cursor: pointer;
}
.editing {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 1200px;
    background-color: lightcoral;
    margin: 0 auto;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}
.editing .input2 {
    border: 2px solid black;
    border-radius: var(--main-radius);
    height: 30px;
    width: 900px;
}
